# Absolute path to the Obsidian Vault. Windows example:
# VAULT_PATH=C:\\Users\\Thiago\\Documents\\MeuVault
# Linux/WSL example:
# VAULT_PATH=/home/user/MeuVault
VAULT_PATH=../vault-demo
PORT=5210
CORS_ORIGIN=http://localhost:5173
